*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Open Sans', sans-serif;
}
.user-dashboard-heading{
    background: linear-gradient(90deg, #00AEEF 0%, #FFFFFF 100%);
  padding: 1.5vh;
  text-align: center;
}
.sidebar-user{
    width: 20vw;
    background: linear-gradient(88.34deg, #00AEEF 2.64%, #FFFFFF 99.83%);
   
    left: 0;
    min-width: 15vw;
    right: 5px;
    overflow: hidden;
    margin-top: 1vh;
  
}

.menu-list-user {
  list-style-type: none; /* Removed bullet points */
  padding: 0;
}

.menu-item-container {
  display: flex;
  align-items: center;
}

.menu-item-user {
  background: linear-gradient(88.34deg, #00AEEF 2.64%, #FFFFFF 99.83%);
  width: 100%;
  height: 7vh;
  border: none;
  text-align: center; 
  padding-left: 5vw;
  display: flex;
  align-items: center;
}
.menu-item-user .menu-icon {
  margin-right: 0.5vw;
}

.menu-item-user:hover {
  background: linear-gradient(90deg, #000000 0%, #666666 49.5%);
  color: white;
  border-radius: 0px 20px 20px 0px;
 
}

.menu-item-user.active {
  background: linear-gradient(90deg, #000000 0%, #666666 49.5%);
  color: white;
  border-radius: 0px 20px 20px 0px;

}
.user-dashboard{
  display: flex;
  flex-direction: row;
 background-color: #EEEEEE;
 gap: 2vw;
 margin-bottom: 0;
}
.courses-enrolled{
  padding: 2vh;
}