* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.admin-nav {
    height: 8vh;
    background: linear-gradient(45deg,#006489,#00AEEF);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2vh;
}

.search-div {
    height: 5vh;
    width: 25.4vw;
    border-radius: 30px;
    display: flex;
    background-color: white;
    box-shadow: none;
    margin-left: 4vh;
    
}

.search-input {
    flex: 1;
    padding-left: 1vw;
    border-radius: 30px 0px 0px 30px;
  border: none;
    background-color: white;
}

.btn-search {
    width: 3.5vw;
    height: 4.7vh;
    background-color: rgba(0, 174, 239, 1);
    color: white;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
    margin-top: 1.25px;
    margin-right: 1px;
    border:none;
}

.admin-nav-middle {
    display: flex;
    flex-direction: row;
   margin-left: 4vw;
}

.admin-nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2vw;
    margin-left: 23vw;
    
}

.icon-container {
    height: 5vh;
    width: 2.5vw;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5vw;
}

.user-info {
    display: flex;
    align-items: center;
    
}

.image-block {
    height: 3.2vh;
    width: 1.7vw;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
   
}

.image-block img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn-logout {
    background-color: #00AEEF;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    height:8vh !important;
    width:10vw;
    padding-top: 3vh !important;

}

.btn-group {
    display: flex;
    align-items: center;
    
}

.dropdown-menu {
    padding-top: 4vh !important;
}

.dropdown-divider {
    margin: 0;
}
.sidebar-admin {
    width: 25vw;
    background: linear-gradient(45deg, #006489, #00AEEF);
    color: white;
    left: 0;
    min-width: 22vw;
    right: 5px;
    overflow: hidden; /* Removed scrollbar */
    height: 100vh;
    margin: 0;
  }
  
  .sidebar-heading-admin {
    background: linear-gradient(45deg, #006489, #00AEEF);
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: 1vh;
  }
  
  .menu-list-admin {
    list-style-type: none; /* Removed bullet points */
    padding: 0;
  }
  
  .menu-item-container {
    display: flex;
    align-items: center;
  }
  
  .menu-item-admin {
    background: linear-gradient(45deg, #006489, #00AEEF);
    color: white;
    width: 100%;
    height: 5vh;
    border: none;
    text-align: left; /* Align text to left */
    padding-left: 0.8vw;
    display: flex;
    align-items: center;
  }
  
  .menu-item-admin .menu-icon {
    margin-right: 0.5vw;
  }
  
  .menu-item-admin:hover {
    background-color: #0D6EFD !important;
    color: white;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid white;
  }
  
  .menu-item-admin.active {
    background-color: #0D6EFD;
    color: white;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid white;
  }
  .admin-dashboard-content{
    display:flex;
    flex-wrap: wrap;
    gap:2vw;
  }
  .dashboard-text{
    color:white;
  }
  .dashboard-div {
    display: flex;
    align-items: center;
    height: 14vh;
    width: 13vw;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 5px 5px 5px #d3d3d3;
  }
  
  .dashboard-icon {
    margin-right: 15px;
  }
  
  .dashboard-text {
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-heading {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .dashboard-content {
    font-size: 1rem;
  }
  .category{
    height: 80vh;
    width: 80%;
    margin-left: 3vw;
  }
  .category-header{
 width: 100%;
    background-color: #00AEEF;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    padding:1.5vh;
  
    border-radius: 10px 10px 0px 0px;
  }
  .date-schedule{
    padding: 1.5vh;
    border: 1px solid #B3B3B3;
   align-items: center;
  
   display: flex;
   flex-direction: row;
   gap: 3vh;
  }
  .filter{
    width:4vw;
    background-color: #00AEEF;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    box-shadow: 2px 2px 4px #d3d3d3;
    border: none;
    color: white;
    font-size:1rem;
  }
  .btn-number{
    width: 3.5vw;
    border-radius: 10px;
    border: 1px solid #6A6A6A;
    padding: 8px 5px 8px 10px;
    background-color: white;

  }
  .entries{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5vh;
   
  }
  .btn-category{
    background-color: #00AEEF;
    color: white;
    border-radius: 30px;
    padding: 1vh 2vh 1vh 2vh;
    border: 1px solid white;
    box-shadow: 2px 2px 4px #d3d3d3;
  }
  .entries-left{
    display: flex;
    justify-content: flex-start;
    gap: 2vh;
  }
  .entries-right{
    display: flex;
    justify-content: flex-end;
    gap: 2vh;
  }